.ekart--header{
    height: 100%;
    display: flex;
    flex-wrap: inherit;
    border-bottom: 1.5px solid #E5E4E2;
}
.ekart-logo{
    padding: 1.2vh 8vh;
    font-size: 40px;
    font-weight: bold;
    color: #36454f;
    font-family: Concert none;
    width: 20%;
}
.ekart--header--nav{
    width:100%;
    padding:1vh 2vh;
    font-size:10px;
}
.ekart--top--bar{
    width:auto;
    text-align:right;
    /* padding-top:3px; */
    padding-bottom:15px;
    /* padding-right:30px; */
}
.ekart--top--bar a{

    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    color: black;

}
.ekart--bottom--bar a{
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    color: black;
    text-align:center !important;
    margin-top: 4vh;
}
.ekart--bottom--bar{
    text-align:center !important;
}
.ekart--search-bar{
    text-align: right;
    padding-top: 4vh;
}